<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <link rel="stylesheet" th:href="@{/sidediv.css}">
    <link rel="stylesheet" th:href="@{/changePassword.css}">
    <link rel="stylesheet" th:href="@{linkStyle.css}">
</head>
<body class="backgroundColor">
<div class="sidediv">
    <span id="span5"><a th:href="@{/logOut}" class="aLink">&lt&lt&lt登出</a></span>
    <span id="span6"><a th:href="@{/{lastPage}(lastPage=${session.lastPage})}" class="aLink">&lt&lt&lt返回</a></span>
</div>
<div class="changePasswordDiv">
    <h1 th:text="'修改账户：'+${session.user}"></h1>
    <form action="/changePasswordReq" method="post" class="basic-grey">
        <label>
            <span>当前密码：</span>
            <input type="password" name="old">
        </label>
        <br>
        <label>
            <span>新密码：</span><input type="password" name="neww">
        </label>
        <br>
        <label>
            <span>确认密码：</span><input type="password" name="confirm">
        </label>
        <br>
        <label>
            <input type="submit" value="提交">
            <span th:if="${msg}" th:text="${msg}"></span>
        </label>
        <input type="text" th:value="${id}" name="id" style="visibility: hidden">
        <input type="text" th:value="${userno}" name="userno" style="visibility: hidden">
        <input type="text" th:value="${username}" name="username" style="visibility: hidden">
        <input type="text" th:value="${password}" name="oldpassword" style="visibility: hidden">
    </form>
</div>
</body>
</html>